<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strong Passwords</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <div class="logo">🛡️ Cyber Shield India</div>

    <ul>
        <li><a href="/safety" class="back-btn">⬅ Back</a></li>
    </ul>
</nav>

<section class="password-hero">

    <h1>🔐 Strong Passwords</h1>

    <p>
        Create passwords that are difficult for hackers to guess.
    </p>

</section>

<section class="password-container">

    <div class="password-card">

        <h2>✔ Quick Tips</h2>

        <ul>
            <li>Use at least 8 characters.</li>
            <li>Mix uppercase & lowercase letters.</li>
            <li>Add numbers and special symbols.</li>
        </ul>

    </div>

    <div class="password-card">

        <h2>📝 Example</h2>

        <p>❌ Weak : <b>yashi123</b></p>

        <p>✅ Strong : <b>Y@shi2026#Secure</b></p>

    </div>

    <div class="password-card">

        <h2>🧪 Try Demo</h2>

        <input
        type="password"
        id="password"
        placeholder="Enter Password">

        <br><br>

        <button onclick="checkPassword()">

            Check Strength

        </button>

        <h3 id="result"></h3>

    </div>

</section>

<script>

function checkPassword(){

let password=document.getElementById("password").value;

let result=document.getElementById("result");

if(password.length<6){

result.innerHTML="❌ Weak Password";

result.style.color="red";

}

else if(password.length<10){

result.innerHTML="🟡 Medium Password";

result.style.color="gold";

}

else{

result.innerHTML="✅ Strong Password";

result.style.color="#10B981";

}

}

</script>

</body>
</html>