<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Cyber Crime</title>
    <link rel="stylesheet"href="{{url_for('static',filename='style.css') }}">

</head>
<body>
    <div class="report-container">
        <h1>Report Cyber Crime<h1>
            <p class="report-text">
                If you become a victim of cyber fraud,report it immediately.
                Early reporting can increase the chances of recovering your money.
            </p>
            <div class="report-box">
                <h2> Cyber Crime Helpline</h2>
                <h3>📞  1930</h3>
                <p>
                    Call this helpline immediately for financial cyber fraud.
                </p> 
                <a href="https://cybercrime.gov.in" target="_blank" class="report-btn">
                    Visit Official Portal
                </a>
            </div>
</body>

</html>